<!DOCTYPE html>
<html>
<head>
  <title>ขอเมนู</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-tinybox"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1866899,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
    window['_fs_org'] = 'W37HB';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
        if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
        g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
        o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
        y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
        g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
        g.anonymize=function(){g.identify(!!0)};
        g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
        g.log = function(a,b){g("log",[a,b])};
        g.consent=function(a){g("consent",!arguments.length||a)};
        g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
        g.clearUserCookie=function(){};
        g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
        if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
        g._v="1.2.0";
    })(window,document,window['_fs_namespace'],'script','user');
  </script>
</head>
<body>
  <div id="app">
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-3">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">ตำปากเปิด</span>
      </div>
    </nav>

    <Tinybox
      v-model="imageIndex"
      :images="menuImages"
      loop
    ></Tinybox>

    <div class="bg-gray-200 px-4 py-2">
      <h2 class="mb-2">รายการอาหาร <span class="text-gray-800 text-sm">({{ menuList.length }})</span></h2>

      <div v-for="section in sections" class="my-2">
        <div class="tab__header">
          <a href="#"
             class="tab__link p-4 block bg-gray-500 no-underline flex justify-between rounded"
             @click.prevent="section.active = !section.active">
            <h2>{{ section.name }} <span class="text-gray-800 text-sm">({{ menuListBySection(menuList, section).length }})</span></h2>
            <span class="down-Arrow" v-show="!section.active">&#9660;</span>
            <span class="up-Arrow" v-show="section.active">&#9650;</span>
          </a>
        </div>
        <div class="tab__content p-2" v-show="section.active">
          <menu-item
            v-for="item in menuListBySection(menuList, section)"
            v-bind:menu="item"
            v-bind:key="item.id">
          </menu-item>
        </div>
      </div>
    </div>

    <hr>

    <div class="bg-gray-200 p-4">
      <div class="tab__header">
        <a href="#"
           class="tab__link p-4 block bg-gray-500 no-underline flex justify-between rounded"
           @click.prevent="menuActive = !menuActive">
          <h2>ภาพเมนู</h2>
          <span class="down-Arrow" v-show="!menuActive">&#9660;</span>
          <span class="up-Arrow" v-show="menuActive">&#9650;</span>
        </a>
      </div>
      <div class="tab__content p-2" v-show="menuActive">
        <h1 class="mb-2">
          คลิกที่ภาพเพื่อดูเมนู
        </h1>

        <div class="block rounded text-gray-700 text-center bg-gray-400 px-2 py-2 my-2">
          <div class="grid grid-cols-4 gap-2">
            <div v-for="(img, idx) in menuImages" class="border-2 overflow-hidden h-20 sm:h-32 md:h-48 lg:h-64 xl:h-auto bg-gray-400">
              <img
                :src="img.thumbnail || img.src"
                :alt="img.alt"
                @click="imageIndex = idx"
                loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-200 px-4 py-2">
      <h1 class="mb-2">
        หมายเหตุ / เพิ่มเติม
      </h1>
      <textarea v-model="remarks" class="my-2 w-full text-center appearance-none py-2 px-3 text-gray-700 leading-tight rounded" placeholder="เช่น เผ็ดน้อย, ไม่ใส่ผัก หรือสั่งเมนูอื่นๆ"></textarea>
    </div>

    <div class="bg-gray-200 px-4 py-2">
      <h1 class="mb-2">
        ออเดอร์ของคุณ
      </h1>

      <div v-if="chosenMenuIsEmpty">
        <small>
          โปรดเลือกออเดอร์ด้านบน
        </small>
      </div>
      <div v-else>
        <chosen-menu
          v-for="item in chosenMenu"
          v-bind:menu="item"
          v-bind:key="item.id">
        </chosen-menu>
        <order-total v-bind:total="chosenMenuTotal"></order-total>
      </div>

      <textarea v-model="chosenMenuInText" readonly class="my-2 w-full text-center appearance-none py-2 px-3 text-gray-700 leading-tight rounded"></textarea>

      <div v-if="chosenMenuIsEmpty">
        <button class="my-2 w-full bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed">
          คัดลอกออเดอร์
        </button>
      </div>
      <div v-else>
        <div class="bg-gray-200 text-center" v-show="copied">
          <div class="block rounded text-gray-700 text-center bg-red-400 px-2 py-2 my-2">
            <p>{{ copiedMessage }}</p>
          </div>
        </div>
        <button type="button"
                v-clipboard:copy="chosenMenuInText"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
                class="mt-4 mb-2 w-full bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
          คัดลอกออเดอร์
        </button>
      </div>
    </div>
  </div>

  <script>
    Vue.component('menu-item', {
      props: ['menu'],
      template: `
        <div class="block rounded text-gray-700 text-center bg-gray-400 px-2 py-2 my-2 flex">
          <div v-if="menu.imageUrl">
            <img class="border-2 h-20 w-20 rounded mx-0 mr-2" v-bind:src="menu.imageUrl" loading="lazy">
          </div>
          <div class="text-left flex-grow">
            <div>{{ menu.name }}</div>
            <div class="text-gray-600 text-sm">{{ menu.price }}.-</div>
          </div>
          <div class="text-right">
            <div class="inline-flex text-xl">
              <button v-on:click="decrement" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                -
              </button>
              <input v-model="menu.amount" readonly class="text-center w-12 appearance-none py-2 px-3 text-gray-700 leading-tight[" type="text" placeholder="จำนวน">
              <button v-on:click="increment" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                +
              </button>
            </div>
          </div>
        </div>
      `,
      methods: {
        increment: function (event) {
          this.menu.amount += 1
        },
        decrement: function (event) {
          this.menu.amount -= 1

          if (this.menu.amount < 0) {
            this.menu.amount = 0
          }
        },
      }
    })

    Vue.component('chosen-menu', {
      props: ['menu'],
      template: `
        <div class="flex items-center my-1">
          <button v-on:click="cancel" class="flex-shrink-0 mr-1 appearance-none bg-gray-300 hover:bg-gray-400 text-red-800 py-1 px-2 rounded font-bold">
            X
          </button>
          <div class="w-full text-sm py-1 px-2">
            <span>{{ menu.name }}</span><span class="text-gray-600 text-xs ml-2">{{ menu.price }}.-</span>
          </div>
          <div class="flex-shrink-0 py-1 px-2">
            x {{ menu.amount }}
          </div>
        </div>
      `,
      methods: {
        cancel: function (event) {
          this.menu.amount = 0
        }
      }
    })

    Vue.component('order-total', {
      props: ['total'],
      template: `
        <div class="text-center my-2 mt-4">
          <strong>รวม : {{ total }}.-</strong>
        </div>
      `
    })

    var app = new Vue({
      el: '#app',
      components: {
        'Tinybox': window.Tinybox,
      },
      data: {
        menuImages: [...Array(17)].map((_, idx) => {
          name = ("0"+ (idx + 1)).slice(-2)
          return { src: `/images/${name}.jpg`, caption: name }
        }),
        menuActive: false,
        sections: [
          { id: 1, name: "ส้มตำ", active: false },
          { id: 2, name: "ตำเกาเหลา", active: false },
          { id: 3, name: "ตำถาด", active: false },
          { id: 4, name: "ยำ", active: false },
          { id: 5, name: "ลาบ", active: false },
          { id: 6, name: "ต้ม/แกง/นึ่ง", active: false },
          { id: 7, name: "ทอด/ย่าง", active: false },
          { id: 8, name: "กับข้าว/อาหารจานเดียว", active: false },
          { id: 9, name: "เครื่องดื่ม/ของหวาน", active: false },
        ],
        menuList: [
          { name: "ตำปูปลาร้า", price: 40, sectionId: 1 },
          { name: "ตำปูดำ", price: 40, sectionId: 1 },
          { name: "ตำไทย", price: 40, sectionId: 1 },
          { name: "ตำไทยไข่มะตูม", price: 55, sectionId: 1 },
          { name: "ตำไทยไข่เค็ม", price: 55, sectionId: 1 },
          { name: "ตำไทยไข่เยี่ยวม้า", price: 55, sectionId: 1 },
          { name: "ตำซั่วปูดำ", price: 45, sectionId: 1 },
          { name: "ตำซั่วปูปลาร้า", price: 45, sectionId: 1 },
          { name: "ตำซั่วแดง", price: 45, sectionId: 1 },
          { name: "ตำซั่วหมูกรอบ", price: 60, sectionId: 1 },
          { name: "ตำซั่วกุ้งสด", price: 80, sectionId: 1 },
          { name: "ตำซั่วหอยแครง", price: 80, sectionId: 1 },
          { name: "ตำซั่วปูม้า", price: 100, sectionId: 1 },
          { name: "ตำแตง", price: 40, sectionId: 1 },
          { name: "ตำแตงหมูยอ", price: 55, sectionId: 1 },
          { name: "ตำแตงไข่มะตูม", price: 55, sectionId: 1 },
          { name: "ตำแตงไข่เค็ม", price: 55, sectionId: 1 },
          { name: "ตำแตงไข่เยี่ยวม้า", price: 55, sectionId: 1 },
          { name: "ตำถั่ว", price: 45, sectionId: 1 },
          { name: "ตำถั่วคอหมู", price: 60, sectionId: 1 },
          { name: "ตำข้าวโพดไข่มะตูม", price: 55, sectionId: 1 },
          { name: "ตำข้าวโพดไข่เค็ม", price: 55, sectionId: 1 },
          { name: "ตำข้าวโพดไข่เยี่ยวม้า", price: 55, sectionId: 1 },
          { name: "ตำข้าวโพดปูม้า", price: 100, sectionId: 1 },
          { name: "ตำลาว", price: 40, sectionId: 1 },
          { name: "ตำลาวกุ้งสด", price: 80, sectionId: 1 },
          { name: "ตำลาวหอยแครง", price: 80, sectionId: 1 },
          { name: "ตำลาวปูม้า", price: 100, sectionId: 1 },
          { name: "ตำลาวแซลม่อนกุ้งสด", price: 150, sectionId: 1 },
          { name: "ตำลาวหมูยอ", price: 60, sectionId: 1 },
          { name: "ตำลาวกากหมู", price: 60, sectionId: 1 },
          { name: "ตำลาวไข่มะตูม", price: 55, sectionId: 1 },
          { name: "ตำลาวไข่เค็ม", price: 55, sectionId: 1 },
          { name: "ตำลาวไข่เยี่ยวม้า", price: 55, sectionId: 1 },
          { name: "ตำไหลบัว", price: 60, sectionId: 1 },
          { name: "ตำซั่วไหลบัว", price: 65, sectionId: 1 },
          { name: "ตำไหลบัวปูม้า", price: 100, sectionId: 1 },
          { name: "ตำมะม่วง", price: 45, sectionId: 1 },
          { name: "ตำมะม่วงกุ้งสด", price: 80, sectionId: 1 },
          { name: "ตำมะม่วงหอยแครง", price: 80, sectionId: 1 },
          { name: "ตำมะม่วงปูม้า", price: 100, sectionId: 1 },
          { name: "ตำมั่ว", price: 65, sectionId: 1 },
          { name: "ตำมั่วกุ้งสด", price: 85, sectionId: 1 },
          { name: "ตำมั่วหอยแครง", price: 85, sectionId: 1 },
          { name: "ตำโคราช", price: 55, sectionId: 1 },
          { name: "ตำหอยดอง", price: 55, sectionId: 1 },
          { name: "ตำซุปเปอร์", price: 60, sectionId: 1 },
          { name: "ตำป่า", price: 65, sectionId: 1 },
          { name: "ตำหอยนางรม", price: 70, sectionId: 1 },
          { name: "ตำกุ้งสด", price: 80, sectionId: 1 },
          { name: "ตำหอยแครง", price: 80, sectionId: 1 },
          { name: "ตำปูม้า", price: 100, sectionId: 1 },
          { name: "ตำข้าวโพด", price: 45, sectionId: 1 },
          { name: "ตำขนมจีนกุ้งสะดุ้ง", price: 80, sectionId: 1 },
          { name: "ตำมะม่วงปูม้า", price: 100, sectionId: 1 },
          { name: "ตำทะเลปากเปิด", price: 200, sectionId: 1 },
          { name: "ตำโอเลี้ยง", price: 60, sectionId: 1 },
          { name: "ตำถั่วหมูกรอบ", price: 60, sectionId: 1 },
          { name: "ตำไหลบัวกุ้งสด", price: 85, sectionId: 1 },
          { name: "ตำลาวแซลม่อน", price: 100, sectionId: 1 },
          { name: "ตําหน่อไม้กุ้งสด", price: 85, sectionId: 1 },
          { name: "ตำหอยแครง", price: 80, sectionId: 1 },
          { name: "ตำหอยแครงเส้นแก้ว", price: 85, sectionId: 1 },
          { name: "ตำมาม่าซุปเปอร์", price: 60, sectionId: 1 },
          { name: "ตำมาม่ากุ้งสด", price: 85, sectionId: 1 },
          { name: "ตำขนมจีนซุปเปอร์", price: 60, sectionId: 1 },
          { name: "ตำซั่วหอยแครงปากเปิด", price: 85, sectionId: 1 },
          { name: "ตำไหลบัวหอยแครง", price: 85, sectionId: 1 },
          { name: "เกาเหลาแซลม่อน", price: 150, sectionId: 2 },
          { name: "เกาเหลาหอยนา", price: 80, sectionId: 2 },
          { name: "เกาเหลาหมูยอ", price: 80, sectionId: 2 },
          { name: "เกาเหลาปูม้า", price: 120, sectionId: 2 },
          { name: "เกาเหลาหอยแครงกุ้งสด", price: 120, sectionId: 2 },
          { name: "เกาเหลาทะเลรวม", price: 150, sectionId: 2 },
          { name: "เกาเหลาปูม้ากุ้งสด", price: 150, sectionId: 2 },
          { name: "เกาเหลากุ้งสดหมูยอ", price: 100, sectionId: 2 },
          { name: "เกาเหลากุ้งสด", price: 100, sectionId: 2 },
          { name: "เกาเหลาทะเลรวม", price: 180, sectionId: 2 },
          { name: "เกาเหลาซุปเปอร์", price: 80, sectionId: 2 },
          { name: "ตำถาดกุ้งสะดุ้ง", price: 200, sectionId: 3 },
          { name: "หอยนาฟ้าผ่า", price: 100, sectionId: 3 },
          { name: "ตำทะเลปากเปิด", price: 200, sectionId: 3 },
          { name: "ตำถาดหอยแหก", price: 200, sectionId: 3 },
          { name: "ตำถาดแซลม่อนกุ้งสด", price: 250, sectionId: 3 },
          { name: "ตำถาดหอยแครง", price: 180, sectionId: 3 },
          { name: "ตำถาดถั่วหมูกรอบ", price: 120, sectionId: 3 },
          { name: "หอยแครงแซ่บ", price: 120, sectionId: 3 },
          { name: "ตำถาดหอยแครงกุ้งสะดุ้ง", price: 200, sectionId: 3 },
          { name: "ส้มตำปลาทอด", price: 250, sectionId: 3 },
          { name: "ส้มตำปลาทอด (ใหญ่)", price: 300, sectionId: 3 },
          { name: "ตำผลไม้", price: 80, sectionId: 3 },
          { name: "ตำขาหมู", price: 250, sectionId: 3 },
          { name: "ตำอีสานอินเตอร์", price: 200, sectionId: 3 },
          { name: "ตำอีสานรวมมิตร", price: 380, sectionId: 3 },
          { name: "ตำถาดปลานึ่ง", price: 380, sectionId: 3 },
          { name: "ตำถาดปลานึ่ง (ใหญ่)", price: 430, sectionId: 3 },
          { name: "ตำอีสานแดดเดียว", price: 200, sectionId: 3 },
          { name: "ตำถาดทะเลแซ่บ", price: 450, sectionId: 3 },
          { name: "ตำลาวออเดิร์ฟ", price: 290, sectionId: 3 },
          { name: "ตำลาวถาด", price: 100, sectionId: 3 },
          { name: "ตำอีลาวอินดี้", price: 150, sectionId: 3 },
          { name: "ตำซั่วแซลม่อน", price: 120, sectionId: 3 },
          { name: "อีสานลงทุ่ง", price: 250, sectionId: 3 },
          { name: "ตำถาดปูจืดหอยนา", price: 250, sectionId: 3 },
          { name: "ตำถาดหอยนา", price: 150, sectionId: 3 },
          { name: "ยําวุ้นเส้นหมูสับ", price: 60, sectionId: 4 },
          { name: "ยำวุ้นเส้นทะเล", price: 80, sectionId: 4 },
          { name: "ยำหมูยอ", price: 60, sectionId: 4 },
          { name: "ยำมาม่าหมูสับ", price: 60, sectionId: 4 },
          { name: "ยํามาม่าทะเล", price: 80, sectionId: 4 },
          { name: "ยำเห็ดเข็มทอง", price: 60, sectionId: 4 },
          { name: "ยำ 4 เห็ด", price: 60, sectionId: 4 },
          { name: "ยำแซลม่อนวาซาบิ", price: 120, sectionId: 4 },
          { name: "ยำหอยแครง", price: 80, sectionId: 4 },
          { name: "ยำปูม้า", price: 120, sectionId: 4 },
          { name: "ยำปูม้าปลาร้า", price: 120, sectionId: 4 },
          { name: "ยำทะเลรวม", price: 150, sectionId: 4 },
          { name: "ยำกระเฉดกุ้ง", price: 80, sectionId: 4 },
          { name: "ยำขนมจีนกากหมู", price: 60, sectionId: 4 },
          { name: "ยำขนมจีนปลาทู", price: 70, sectionId: 4 },
          { name: "ยำขนมจีนกุ้งสด", price: 80, sectionId: 4 },
          { name: "ยำขนมจีนหอยแครง", price: 80, sectionId: 4 },
          { name: "ยำขนมจีนทะเลรวม", price: 150, sectionId: 4 },
          { name: "กุ้งแช่น้ำปลา", price: 100, sectionId: 4 },
          { name: "ยำปูม้ากุ้งสดไข่แดงเค็ม", price: 150, sectionId: 4 },
          { name: "ยำวุ้นเส้นโบราณ", price: 70, sectionId: 4 },
          { name: "ยำหอยนางรม", price: 80, sectionId: 4 },
          { name: "ยำสามเกลอ", price: 150, sectionId: 4 },
          { name: "ยำค็อกเทล", price: 200, sectionId: 4 },
          { name: "หอยทะเล้น", price: 200, sectionId: 4 },
          { name: "หอยนางรมทรงเครื่อง", price: 100, sectionId: 4 },
          { name: "แซลม่อนแช่น้ำปลา", price: 120, sectionId: 4 },
          { name: "กุ้งพันแซลม่อน", price: 150, sectionId: 4 },
          { name: "หมูมะนาว", price: 80, sectionId: 4 },
          { name: "ยำ 4 สหายไข่แดงเค็ม", price: 150, sectionId: 4 },
          { name: "ยำขนมจีนปลาทูไข่แดงเค็ม", price: 100, sectionId: 4 },
          { name: "ยําถั่วพลูกุ้งสด", price: 80, sectionId: 4 },
          { name: "ยําไข่แดงเค็ม", price: 80, sectionId: 4 },
          { name: "ยำแซลม่อนสาหร่ายทะเล", price: 200, sectionId: 4 },
          { name: "ทะเลลวกจิ้ม", price: 200, sectionId: 4 },
          { name: "หมูร้องไห้", price: 80, sectionId: 4 },
          { name: "ยำนัวหมูยอไข่แดงเค็ม", price: 100, sectionId: 4 },
          { name: "ยำนัว 2 เกลอ", price: 100, sectionId: 4 },
          { name: "ยำนัวทูน่าซ่า", price: 200, sectionId: 4 },
          { name: "ยำนัวแซลม่อน", price: 200, sectionId: 4 },
          { name: "ยำนัวกุ้งสดไข่แดงเค็ม", price: 120, sectionId: 4 },
          { name: "ลาบหมู", price: 60, sectionId: 5 },
          { name: "น้ำตกหมู", price: 60, sectionId: 5 },
          { name: "ตับหวาน", price: 60, sectionId: 5 },
          { name: "ลาบเห็ด", price: 60, sectionId: 5 },
          { name: "ลาบทะเล", price: 120, sectionId: 5 },
          { name: "ลาบปลาหมึก", price: 80, sectionId: 5 },
          { name: "ลาบขนมจีนหมูสับ", price: 60, sectionId: 5 },
          { name: "ลาบขนมจีนทะเล", price: 100, sectionId: 5 },
          { name: "ลาบวุ้นเส้นหมูสับ", price: 60, sectionId: 5 },
          { name: "ลาบวุ้นเส้นทะเล", price: 120, sectionId: 5 },
          { name: "ลาบมาม่าหมูสับ", price: 60, sectionId: 5 },
          { name: "ลาบมาม่าทะเล", price: 120, sectionId: 5 },
          { name: "ก้อยไข่มดแดง", price: 150, sectionId: 5 },
          { name: "ลาบปลาทับทิมทอด", price: 250, sectionId: 5 },
          { name: "ลาบปลากระพงทอด", price: 300, sectionId: 5 },
          { name: "แจ่วบองผักลวก", price: 60, sectionId: 5 },
          { name: "ลาบหอยนางรม", price: 80, sectionId: 5 },
          { name: "ลาบกุ้งดิบ", price: 80, sectionId: 5 },
          { name: "ลาบกุ้งสุก", price: 80, sectionId: 5 },
          { name: "ลาบหอยเชอรี่", price: 70, sectionId: 5 },
          { name: "น้ำตกคอหมู", price: 80, sectionId: 5 },
          { name: "ลาบปลาดุก", price: 70, sectionId: 5 },
          { name: "ลาบแซลม่อน", price: 150, sectionId: 5 },
          { name: "ลาบไข่เจียวห่อลาบ", price: 70, sectionId: 5 },
          { name: "ลาบหมู", price: 60, sectionId: 5 },
          { name: "ลาบปลาทับทิม", price: 250, sectionId: 5 },
          { name: "ลาบปลาทับทิม (ใหญ่)", price: 300, sectionId: 5 },
          { name: "ลาบปลากระพง", price: 250, sectionId: 5 },
          { name: "ลาบปลากระพง (ใหญ่)", price: 300, sectionId: 5 },
          { name: "ลาบซุปเปอร์", price: 70, sectionId: 5 },
          { name: "ซุปบักเขือ", price: 60, sectionId: 5 },
          { name: "ลาบหอยแครง", price: 80, sectionId: 5 },
          { name: "ต้มแซ่บกระดูกอ่อน", price: 70, sectionId: 6 },
          { name: "ต้มโคล้งปลากรอบ", price: 70, sectionId: 6 },
          { name: "แกงหน่อไม้ไข่มดแดง", price: 100, sectionId: 6 },
          { name: "อ่อมหมู", price: 70, sectionId: 6 },
          { name: "อ่อมไก่", price: 70, sectionId: 6 },
          { name: "แกงเลียงกุ้งสด", price: 80, sectionId: 6 },
          { name: "ต้มยำปลาทับทิมหม้อไฟ", price: 200, sectionId: 6 },
          { name: "ต้มยำปลาทับทิมหม้อไฟ (ใหญ่)", price: 250, sectionId: 6 },
          { name: "ต้มยำปลากระพงหม้อไฟ", price: 200, sectionId: 6 },
          { name: "ต้มยำปลากระพงหม้อไฟ (ใหญ่)", price: 250, sectionId: 6 },
          { name: "ต้มยำทะเลรวม", price: 120, sectionId: 6 },
          { name: "ต้มยำไข่", price: 70, sectionId: 6 },
          { name: "ไข่น้ำ", price: 70, sectionId: 6 },
          { name: "ต้มจืดเต้าหู้หมูสับ", price: 70, sectionId: 6 },
          { name: "ปลาหมึกนึ่งมะนาว", price: 120, sectionId: 6 },
          { name: "ต้มยำกุ้งน้าใส", price: 80, sectionId: 6 },
          { name: "ต้มยำกุ้งน้ำข้น", price: 80, sectionId: 6 },
          { name: "แกงหน่อไม้", price: 70, sectionId: 6 },
          { name: "แกงเห็ด", price: 70, sectionId: 6 },
          { name: "แกงไก่หน่อไม้ดอง", price: 70, sectionId: 6 },
          { name: "แกงผักหวานไข่มดแดง", price: 100, sectionId: 6 },
          { name: "ปลานึ่งมะนาว", price: 250, sectionId: 6 },
          { name: "ปลานึ่งมะนาว (ใหญ่)", price: 300, sectionId: 6 },
          { name: "ต้มซุปเปอร์ถ้วย", price: 70, sectionId: 6 },
          { name: "ต้มซุปเปอร์หม้อไฟ", price: 100, sectionId: 6 },
          { name: "แกงอ่อมหอยนา", price: 100, sectionId: 6 },
          { name: "สองเกลอแกง", price: 120, sectionId: 6 },
          { name: "ชุดปลานึ่งแจ่ว", price: 270, sectionId: 6 },
          { name: "ชุดปลานึ่งแจ่ว (ใหญ่)", price: 320, sectionId: 6 },
          { name: "แจ่วฮ้อนหมูจุ่ม", price: 120, sectionId: 6 },
          { name: "แจ่วฮ้อนปลาจุ่ม", price: 250, sectionId: 6 },
          { name: "แจ่วฮ้อนปลาจุ่ม (ใหญ่)", price: 300, sectionId: 6 },
          { name: "คอหมูย่าง", price: 80, sectionId: 7 },
          { name: "ปีกไก่ทอดเกลือ", price: 70, sectionId: 7 },
          { name: "ปีกไก่ทอดน้ำปลา", price: 70, sectionId: 7 },
          { name: "ปลาส้มทอด", price: 60, sectionId: 7 },
          { name: "หมูยอทอด", price: 60, sectionId: 7 },
          { name: "กุ้งชุบแป้งทอด", price: 80, sectionId: 7 },
          { name: "ไส้กรอกอีสาน", price: 80, sectionId: 7 },
          { name: "แหนมทรงเครื่อง", price: 70, sectionId: 7 },
          { name: "ขาหมูเยอรมัน", price: 200, sectionId: 7 },
          { name: "หอยแครงลวก", price: 100, sectionId: 7 },
          { name: "เอ็นข้อไก่ทอด", price: 70, sectionId: 7 },
          { name: "ไก่กระด้ง", price: 100, sectionId: 7 },
          { name: "สามชั้นทอดน้ำปลา", price: 70, sectionId: 7 },
          { name: "เมี่ยงปลา", price: 250, sectionId: 7 },
          { name: "เมี่ยงปลา (ใหญ่)", price: 300, sectionId: 7 },
          { name: "หมูแดดเดียว", price: 70, sectionId: 7 },
          { name: "สเต็กลาว", price: 120, sectionId: 7 },
          { name: "ปากเป็ดทอด", price: 80, sectionId: 7 },
          { name: "ลาบทอด", price: 70, sectionId: 7 },
          { name: "ไก่สมุนไพร", price: 80, sectionId: 7 },
          { name: "ไส้อ่อนทอด", price: 80, sectionId: 7 },
          { name: "เมี่ยงหอยแครง", price: 150, sectionId: 7 },
          { name: "เมี่ยงหมูสามชั้น", price: 100, sectionId: 7 },
          { name: "ยำผักบุ้งกรอบ", price: 90, sectionId: 7 },
          { name: "เมี่ยงปลาทู", price: 90, sectionId: 7 },
          { name: "เห็ดทอด", price: 70, sectionId: 7 },
          { name: "ข้าวจี่ทอด", price: 60, sectionId: 7 },
          { name: "ปลาทอดน้ำปลา", price: 250, sectionId: 7 },
          { name: "ปลาทอดน้ำปลา (ใหญ่)", price: 300, sectionId: 7 },
          { name: "คอหมูเมี่ยงหมี่", price: 120, sectionId: 7 },
          { name: "เมี่ยงถาด", price: 399, sectionId: 7 },
          { name: "หมี่กระเฉดปลาหมึก", price: 80, sectionId: 8 },
          { name: "ข้าวผัดพริกเผาหมูแดดเดียว", price: 60, sectionId: 8 },
          { name: "กุ้งผัดไข่เค็ม", price: 90, sectionId: 8 },
          { name: "ไข่เจียวหมูสับ", price: 50, sectionId: 8 },
          { name: "ข้าวผัดกุ้ง", price: 70, sectionId: 8 },
          { name: "ข้าวผัดกุ้ง (ใหญ่)", price: 150, sectionId: 8 },
          { name: "ชุดน้ำพริกปลาทู", price: 90, sectionId: 8 },
          { name: "ข้าวเหนียว", price: 12, sectionId: 8 },
          { name: "ข้าวสวย", price: 12, sectionId: 8 },
          { name: "ข้าวโถ", price: 50, sectionId: 8 },
          { name: "หมี่ลวก", price: 12, sectionId: 8 },
          { name: "มาม่าลวก", price: 12, sectionId: 8 },
          { name: "เส้นเล็กลวก", price: 12, sectionId: 8 },
          { name: "หมี่ผัดซีอิ้ว", price: 20, sectionId: 8 },
          { name: "เส้นเล็กผัดซีอิ้ว", price: 20, sectionId: 8 },
          { name: "ไข่ต้มมะตูม", price: 12, sectionId: 8 },
          { name: "ไข่เค็ม", price: 12, sectionId: 8 },
          { name: "ไข่เยี่ยวม้า", price: 12, sectionId: 8 },
          { name: "มาม่าผัดไข่กุ้ง", price: 80, sectionId: 8 },
          { name: "หมึกผัดไข่เค็ม", price: 90, sectionId: 8 },
          { name: "ผัดไทปากเปิด", price: 80, sectionId: 8 },
          { name: "หมี่กระเฉดกุ้ง", price: 80, sectionId: 8 },
          { name: "ข้าวผัดโบราณทะเล", price: 80, sectionId: 8 },
          { name: "ข้าวหน้าหมูแดดเดียว", price: 60, sectionId: 8 },
          { name: "น้ำเปล่า", price: 10, sectionId: 9 },
          { name: "น้ำอัดลม", price: 15, sectionId: 9 },
          { name: "น้ำใบเตย", price: 12, sectionId: 9 },
          { name: "น้ำเก๊กฮวย", price: 12, sectionId: 9 },
          { name: "เบียร์ช้าง", price: 65, sectionId: 9 },
          { name: "เบียร์ลีโอ", price: 75, sectionId: 9 },
          { name: "เบียร์สิงห์", price: 85, sectionId: 9 },
          { name: "สละลอยแก้ว", price: 30, sectionId: 9 },
          { name: "ลิ้นจี่ลอยแก้ว", price: 30, sectionId: 9 },
          { name: "ลูกตาลลอยแก้ว", price: 30, sectionId: 9 },
        ].map((data, idx) => {
          return { ...data, id: idx, amount: 0 }
        }),
        imageIndex: null,
        remarks: null,
        copied: false,
        copiedMessage: "",
      },
      methods: {
        onCopy() {
          const copiedMessage = "คัดลอกออเดอร์สำเร็จแล้ว โปรดปิดหน้านี้ แล้วทำการวาง (Paste) ในช่องแชทเพื่อสั่งอาหาร";
          alert(copiedMessage);
          this.copied = true;
          this.copiedMessage = copiedMessage;
        },
        onError: () => alert("คัดลอกออเดอร์ไม่สำเร็จ! โปรดทำการจับภาพหน้าจอ แล้วอัปโหลดภาพในแชทเพื่อสั่งอาหาร"),
        menuListBySection: (menuList, section) => {
          return menuList.filter((menu) => {
            return menu.sectionId == section.id
          })
        },
      },
      computed: {
        chosenMenu: function () {
          this.copied = false

          return this.menuList.filter((menu) => {
            return menu.amount > 0
          })
        },
        chosenMenuTotal: function () {
          return this.chosenMenu.map(menu => menu.price * menu.amount)
                                .reduce((price, total) => total + price, 0)
        },
        chosenMenuIsEmpty: function () {
          return !this.chosenMenu || this.chosenMenu.length == 0
        },
        chosenMenuInText: function () {
          const menus = this.chosenMenu.map((menu) => {
            return `${menu.name} (${menu.price}.-) x ${menu.amount}`
          }) || []

          if (menus.length) {
            if (this.remarks) {
              menus.push(`\nหมายเหตุ / เพิ่มเติม :`)
              menus.push(this.remarks)
            }

            menus.push(`\nรวม : ${this.chosenMenuTotal}.-`)
          }

          return menus.join("\n")
        }
      }
    })
  </script>
</body>
</html>
