<!DOCTYPE html>
<html>
<head>
  <title>ขอเมนู</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-tinybox"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-3">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">ตำปากเปิด</span>
      </div>
    </nav>

    <Tinybox
      v-model="imageIndex"
      :images="menuImages"
      loop
    ></Tinybox>

    <div class="bg-gray-200 px-4 py-2">
      <h1 class="mb-2">
        คลิกที่ภาพเพื่อดูเมนู
      </h1>

      <div class="block rounded text-gray-700 text-center bg-gray-400 px-2 py-2 my-2">
        <div class="grid grid-cols-4 gap-2">
          <div v-for="(img, idx) in menuImages" class="border-2 overflow-hidden h-20 sm:h-32 md:h-48 lg:h-64 xl:h-auto bg-gray-400">
            <img
              :src="img.thumbnail || img.src"
              :alt="img.alt"
              @click="imageIndex = idx">
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-200 px-4 py-2">
      <h2 class="mb-2">รายการอาหาร</h2>
      <menu-item
        v-for="item in menuList"
        v-bind:menu="item"
        v-bind:key="item.id">
      </menu-item>
    </div>

    <div class="bg-gray-200 px-4 py-2">
      <h1 class="mb-2">
        ออเดอร์ของคุณ
      </h1>

      <div v-if="chosenMenuIsEmpty">
        <small>
          โปรดเลือกออเดอร์
        </small>
      </div>
      <div v-else>
        <chosen-menu
          v-for="item in chosenMenu"
          v-bind:menu="item"
          v-bind:key="item.id">
        </chosen-menu>
        <order-total v-bind:total="chosenMenuTotal"></order-total>
      </div>

      <textarea v-model="chosenMenuInText" readonly class="my-2 w-full text-center appearance-none py-2 px-3 text-gray-700 leading-tight rounded">
        {{
          chosenMenuInText
        }}
      </textarea>

      <div v-if="chosenMenuIsEmpty">
        <button class="my-2 w-full bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed">
          คัดลอกออเดอร์
        </button>
      </div>
      <div v-else>
        <button type="button"
                v-clipboard:copy="chosenMenuInText"
                v-clipboard:success="onCopy"
                v-clipboard:error="onError"
                class="mt-4 mb-2 w-full bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
          คัดลอกออเดอร์
        </button>
      </div>
    </div>
  </div>

  <script>
    Vue.component('menu-item', {
      props: ['menu'],
      template: `
        <div class="block rounded text-gray-700 text-center bg-gray-400 px-2 py-2 my-2 flex">
          <div v-if="menu.imageUrl">
            <img class="border-2 h-20 w-20 rounded mx-0 mr-2" v-bind:src="menu.imageUrl">
          </div>
          <div class="text-left flex-grow">
            <div>{{ menu.name }}</div>
            <div class="text-gray-600 text-sm">{{ menu.price }}.-</div>
          </div>
          <div class="text-right">
            <div class="inline-flex text-xl">
              <button v-on:click="decrement" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                -
              </button>
              <input v-model="menu.amount" readonly class="text-center w-12 appearance-none py-2 px-3 text-gray-700 leading-tight[" type="text" placeholder="จำนวน">
              <button v-on:click="increment" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                +
              </button>
            </div>
          </div>
        </div>
      `,
      methods: {
        increment: function (event) {
          this.menu.amount += 1
        },
        decrement: function (event) {
          this.menu.amount -= 1

          if (this.menu.amount < 0) {
            this.menu.amount = 0
          }
        },
      }
    })

    Vue.component('chosen-menu', {
      props: ['menu'],
      template: `
        <div class="flex items-center my-1">
          <button v-on:click="cancel" class="flex-shrink-0 mr-1 appearance-none bg-gray-300 hover:bg-gray-400 text-red-800 py-1 px-2 rounded font-bold">
            X
          </button>
          <div class="w-full text-sm py-1 px-2">
            <span>{{ menu.name }}</span><span class="text-gray-600 text-xs ml-2">{{ menu.price }}.-</span>
          </div>
          <div class="flex-shrink-0 py-1 px-2">
            x {{ menu.amount }}
          </div>
        </div>
      `,
      methods: {
        cancel: function (event) {
          this.menu.amount = 0
        }
      }
    })

    Vue.component('order-total', {
      props: ['total'],
      template: `
        <div class="text-center my-2 mt-4">
          <strong>รวม : {{ total }}.-</strong>
        </div>
      `
    })

    var app = new Vue({
      el: '#app',
      components: {
        'Tinybox': window.Tinybox,
      },
      data: {
        menuImages: [...Array(17)].map((_, idx) => {
          name = ("0"+ (idx + 1)).slice(-2)
          return { src: `/images/${name}.jpg`, caption: name }
        }),
        menuList: [
          { id: 1, name: "หมูร้องไห้", amount: 0, price: 80 },
          { id: 2, name: "ตำข้าวโพด", amount: 0, price: 45 },
          { id: 3, name: "ตำทะเลปากเปิด", amount: 0, price: 200 },
          { id: 4, name: "ตำปูปลาร้า", amount: 0, price: 40 },
          { id: 5, name: "เกาเหลาแซลมอน", amount: 0, price: 150 },
          { id: 6, name: "ตำถาดกุ้งสะดุ้ง", amount: 0, price: 200 },
          { id: 7, name: "ยำ 3 เกลอ", amount: 0, price: 150 },
          { id: 8, name: "ลาบหมู", amount: 0, price: 60 },
          { id: 9, name: "ลาบเห็ด", amount: 0, price: 60 },
        ],
        imageIndex: null,
      },
      methods: {
        finalize: function (event) { },
        onCopy: () => alert("คัดลอกออเดอร์สำเร็จแล้ว โปรดทำการวาง (Paste) ในช่องแชทเพื่อสั่งอาหาร"),
        onError: () => alert("คัดลอกออเดอร์ไม่สำเร็จ! โปรดทำการจับภาพหน้าจอ แล้วอัปโหลดภาพในแชทเพื่อสั่งอาหาร"),
      },
      computed: {
        chosenMenu: function () {
          return this.menuList.filter((menu) => {
            return menu.amount > 0
          })
        },
        chosenMenuTotal: function () {
          return this.chosenMenu.map(menu => menu.price)
                                .reduce((price, total) => total + price, 0)
        },
        chosenMenuIsEmpty: function () {
          return !this.chosenMenu || this.chosenMenu.length == 0
        },
        chosenMenuInText: function () {
          const menus = this.chosenMenu.map((menu) => {
            return `${menu.name} (${menu.price}.-) x ${menu.amount}`
          }) || []

          if (menus.length) {
            menus.push(`\nรวม : ${this.chosenMenuTotal}.-`)
          }

          return menus.join("\n")
        }
      }
    })
  </script>
</body>
</html>
